@use "sass:math";

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  .SocialPreviewContainer {
    .SocialPreviewBox {
      width: 1280px - 2 * 80px;
      height: 640px - 2 * 80px;
      padding: 80px;
      margin: auto;
      background: white;
      color: black;
      display: flex;
      justify-content: center;
      .SocialPreview {
        margin: auto;
        font-size: 200%;
        h1 {
          font-family: "Fira Code", monospace;
          margin-top: 0;
        }
      }
    }
  }
  figure {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: safe center;
    align-items: safe center;
    gap: 1em;
  }
}
